@model EverestFoodCafe.Models.PromotionViewModel

@{
    ViewBag.Title = "Index";
}





    <div class="row" id="home-row">
    <div class="col-md-8">
        @foreach (var models in Model.PromoDishes)
        {
            <ul class="media-list col-md-6">
                <li class="media">
                    <div class="media-left media-middle">

                        <img class="media-object img-thumbnail"
                             src="~/Images/@models.Image" alt="Momo" height="450" width="450">


                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">
                            @models.DishName
                            <span class="label label-danger">New</span>
                            <span class="badge">@models.Price.ToString("C")</span>
                        </h2>


                    </div>
                </li>
            </ul>
            <div class="col-md-6">
                <h2>This Months Promotions</h2>
            </div>
        }

    </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                           Specials
                        </h4>
                    </div>
                    <div id="collapse1" class="">
                        <div class="panel-body">
                            <h5>Buffet @@$12 every Wednesday 11 AM-3 PM </h5>
                             <p>specials Chicken korma</p>
                            <p>specials Chicken korma</p>
                            <p>specials Chicken korma</p>
                            <p>specials Chicken korma</p>
                            <p>specials Chicken korma</p>
                            <p>specials Chicken korma</p>
                            <p>specials Chicken korma</p>
                        </div>
                        <div class="panel-footer">Panel Footer</div>
                    </div>
                </div>
            </div>
        </div>
</div>


